# Copyright 2018-2021 Jetperch LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

check-manifest>=0.37
coverage>=4.5.2
Cython>=0.29.3
m2r
# https://developercommunity.visualstudio.com/content/problem/1207405/fmod-after-an-update-to-windows-2004-is-causing-a.html
numpy>=1.19.5
psutil
pypiwin32>=223; sys_platform == 'win32'
# python {path_to_python}\scripts\pywin32_postinstall.py -install
pyserial
PySide2==5.13.2; python_version < '3.8'
PySide2>=5.15.1; python_version >= '3.8'
python-dateutil>=2.7.3
recommonmark
sphinx>=3.1.0
wheel
